.delete{
    background-color: red;
    margin-left: 10%;
}
.like{
    background-color: blue;
    margin-left: 30%;
    color: white;
}
.list{
    border: 2px solid black;
    background-color: aquamarine;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    display: inline-block;
    margin-left: 20%;
}
.likes{
    display: inline-block;
    padding-left: 20%;
}
.likes_num{
    display: inline-block;
}
.artist{
    margin-left: 20%;
}